<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ANTTWEAKBAR_116_OGLCORE_GLFW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CG_UFPel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GLEW_190.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GLFW_303.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>assimp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22BB8896F66A49E292B3CEE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BFC1CB9FFDD401FAE52FA6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D4DDD878FF14B86B2120E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3652EBAC410B444E9E82DC15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E9489C65CDB408387D9AD47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80FBC61ACCF74CBF9C9DD48F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A8867E2615B4CDE9097FC6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9A419010468463F839611B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFE5C277DEF347CE8C12F0E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
