<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ANTTWEAKBAR_116_OGLCORE_GLFW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CG_UFPel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GLEW_190.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GLFW_303.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>assimp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C6D3F8B2052476AB2195D5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CFA9A53C40A40D983C23F71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>124DDC9A6A8D447FB566384B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36E8F06F63C7490DBF6A6D2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CD910712EFE41EE961DEBA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D89FD5C923A4C2D8C60D375</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84628250F89742EDB6C93E1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93962FECCAA945CE8E6200CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B68236BC6F07455588EAA8C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
